<app-home-template>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
  >
    <div class="min-w-[200px] h-[200px]">
      <button
        class="h-full w-full bg-blue-400 rounded-lg flex items-center justify-center text-white border-none cursor-pointer"
        (click)="formVisible = true"
      >
        <div class="flex flex-col items-center gap-2">
          <i class="pi pi-plus"></i>
          <p class="font-semibold font-poppins text-base">New Ticket</p>
        </div>
      </button>
      <p-dialog
        header="Release Tickets"
        [modal]="true"
        [(visible)]="formVisible"
        [style]="{ width: '35rem' }"
      >
        <form [formGroup]="sellTicketsForm" (ngSubmit)="onSubmit()">
          <span class="p-text-secondary block mb-5"
            >Update your ticket release information.</span
          >
          <div class="flex flex-col justify-center gap-2 mb-5">
            <label for="eventName" class="font-semibold font-poppins">
              Event
            </label>
            <p-dropdown
              class="w-full"
              panelStyleClass="w-full"
              [options]="eventNames() || undefined"
              formControlName="eventName"
              placeholder="Select an event"
            />
          </div>
          <div class="flex gap-5">
            <div class="flex flex-col justify-center gap-2 mb-5">
              <label for="ticketPrice" class="font-semibold"
                >Ticket Price</label
              >
              <p-inputNumber
                inputId="ticketPrice"
                class="flex-1"
                mode="currency"
                currency="LKR"
                formControlName="ticketPrice"
                [min]="1"
                [max]="10000"
              />
            </div>
            <div
              class="flex flex-col justify-center w-[calc(50%-10px)] gap-2 mb-5"
            >
              <label for="noOfTickets" class="font-semibold"
                >Number of Tickets</label
              >
              <p-inputNumber
                inputId="noOfTickets"
                class="flex-1"
                mode="decimal"
                formControlName="ticketQuantity"
                [min]="1"
                [max]="500000"
              />
            </div>
          </div>
          <div class="flex justify-end gap-2">
            <button
              pButton
              class="font-normal rounded-xl"
              severity="secondary"
              (click)="formVisible = false; sellTicketsForm.reset()"
            >
              Cancel
            </button>
            <button
              pButton
              class="font-normal rounded-xl"
              type="submit"
              [disabled]="sellTicketsForm.invalid"
            >
              Save
            </button>
          </div>
        </form>
      </p-dialog>
    </div>

    <button
      class="min-w-[200px] h-[200px] bg-gray-300 rounded-lg border-none cursor-pointer"
    ></button>
    <button
      class="min-w-[200px] h-[200px] bg-gray-300 rounded-lg border-none cursor-pointer"
    ></button>
    <button
      class="min-w-[200px] h-[200px] bg-gray-300 rounded-lg border-none cursor-pointer"
    ></button>
    <button
      class="min-w-[200px] h-[200px] bg-gray-300 rounded-lg border-none cursor-pointer"
    ></button>
    <button
      class="min-w-[200px] h-[200px] bg-gray-300 rounded-lg border-none cursor-pointer"
    ></button>
    <button
      class="min-w-[200px] h-[200px] bg-gray-300 rounded-lg border-none cursor-pointer"
    ></button>
    <button
      class="min-w-[200px] h-[200px] bg-gray-300 rounded-lg border-none cursor-pointer"
    ></button>
    <button
      class="min-w-[200px] h-[200px] bg-gray-300 rounded-lg border-none cursor-pointer"
    ></button>
    <button
      class="min-w-[200px] h-[200px] bg-gray-300 rounded-lg border-none cursor-pointer"
    ></button>
  </div>
</app-home-template>
