<app-home-template>
  <div
    class="flex flex-col gap-5 p-5 bg-white rounded-lg shadow-md min-w-min"
    [ngClass]="{ 'items-center py-20': transactions()?.length === 0 }"
  >
    <div
      class="min-w-[1000px] flex flex-col items-center justify-center"
      *ngIf="transactions()?.length === 0"
    >
      <img
        src="empty-tickets.png"
        alt="No Tickets Released"
        class="w-[200px] h-auto object-contain"
      />
      <p class="font-semibold w-[250px] text-center text-gray-500">
        No Tickets Released yet. Release tickets to get started.
      </p>
    </div>
    <div>
      <button
        class="p-4 bg-blue-500 rounded-md flex items-center justify-center text-white border-none cursor-pointer disabled:bg-blue-300 disabled:cursor-not-allowed"
        (click)="formVisible = true"
        [disabled]="getUnreleasedEventNames().length === 0"
        pTooltip="{{
          getUnreleasedEventNames().length === 0
            ? 'No events to release tickets for'
            : ''
        }}"
      >
        <div class="flex items-center gap-2">
          <i class="pi pi-plus"></i>
          <p class="font-medium font-poppins text-sm">New Ticket</p>
        </div>
      </button>
      <p-dialog
        header="Release Tickets"
        [modal]="true"
        [(visible)]="formVisible"
        [style]="{ width: '35rem' }"
      >
        <form [formGroup]="sellTicketsForm" (ngSubmit)="onSubmit()">
          <span class="p-text-secondary block mb-5"
            >Update your ticket release information.</span
          >
          <div class="flex flex-col justify-center gap-2 mb-5">
            <label for="eventName" class="font-semibold font-poppins">
              Event
            </label>
            <p-dropdown
              class="w-full"
              panelStyleClass="w-full"
              [options]="getUnreleasedEventNames() || undefined"
              formControlName="eventName"
              placeholder="Select an event"
            />
          </div>
          <div class="flex gap-5">
            <div class="flex flex-col justify-center gap-2 mb-5">
              <label for="ticketPrice" class="font-semibold"
                >Ticket Price</label
              >
              <p-inputNumber
                inputId="ticketPrice"
                class="flex-1"
                mode="currency"
                currency="LKR"
                formControlName="ticketPrice"
                [min]="1"
                [max]="10000"
              />
            </div>
            <div
              class="flex flex-col justify-center w-[calc(50%-10px)] gap-2 mb-5"
            >
              <label for="noOfTickets" class="font-semibold"
                >Number of Tickets</label
              >
              <p-inputNumber
                inputId="noOfTickets"
                class="flex-1"
                mode="decimal"
                formControlName="ticketQuantity"
                [min]="1"
                [max]="500000"
              />
            </div>
          </div>
          <div class="flex justify-end gap-2">
            <button
              pButton
              class="font-normal rounded-xl"
              severity="secondary"
              (click)="formVisible = false; sellTicketsForm.reset()"
            >
              Cancel
            </button>
            <button
              pButton
              class="font-normal rounded-xl"
              type="submit"
              [disabled]="sellTicketsForm.invalid"
            >
              Save
            </button>
          </div>
        </form>
      </p-dialog>
    </div>

    <div class="min-w-[1000px]" *ngIf="transactions()?.length !== 0">
      <div
        class="grid-container-sell-tickets bg-gray-50 border border-gray-300 border-solid rounded-t-lg"
      >
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          Status
        </div>
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          Event Name
        </div>
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          Tickets Released
        </div>
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          Tickets Sold
        </div>
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          Tickets Remaining
        </div>
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          Release Date
        </div>
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          Expiriation Date
        </div>
        <div class="text-left text-xs font-medium text-gray-500 uppercase p-3">
          Price Per Ticket
        </div>
      </div>
      <div
        *ngFor="
          let transaction of sortTransactionsByEventCloseDate(
            getReleaseTransactions() || []
          )
        "
        class="grid-container-sell-tickets bg-white border-b border-solid border-t-0 border-x border-gray-300"
      >
        <div
          class="flex items-center justify-center gap-1 overflow-hidden text-sm font-medium text-gray-900 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
          pTooltip="{{ getEventStatus(transaction.eventId) }}"
        >
          <div
            class="w-10 h-3 rounded-full {{
              getEventStatusColor(transaction.eventId)
            }}"
          ></div>
        </div>
        <div
          class="overflow-hidden text-sm font-medium text-gray-900 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{ getEventName(transaction.eventId) }}
          </p>
        </div>
        <div
          class="overflow-hidden text-sm text-gray-500 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{ transaction.quantity }}
          </p>
        </div>
        <div
          class="overflow-hidden text-sm text-gray-500 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{ getSoldTicketsCount(transaction.eventId) }}
          </p>
        </div>
        <div
          class="overflow-hidden text-sm text-gray-500 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{
              transaction.quantity - getSoldTicketsCount(transaction.eventId)
            }}
          </p>
        </div>
        <div
          class="overflow-hidden text-sm text-gray-500 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{ transaction.timeStamp | date }}
          </p>
        </div>
        <div
          class="overflow-hidden text-sm text-gray-500 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{ getEventCloseDate(transaction.eventId) | date }}
          </p>
        </div>
        <div class="overflow-hidden text-sm text-gray-500 p-3">
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{ "Rs. " + transaction.pricePerTicket.toFixed(2) }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <p-toast />
</app-home-template>
