<div
  class="h-screen w-[250px] border-r-2 border-solid border-l-0 border-t-0 border-b-0 border-gray-200 flex flex-col"
>
  <div
    class="flex items-center gap-4 h-[70px] border-b-2 border-solid border-gray-200 border-x-0 border-t-0 p-5"
  >
    <img src="logo.png" alt="" class="w-12 h-auto object-contain" />
    <p class="text-2xl font-semibold text-blue-600">Tickets</p>
  </div>
  <div class="flex flex-col justify-between flex-1 p-5">
    <div class="flex flex-col font-medium">
      <div *ngIf="role === 'vendor'">
        <a
          routerLink="/dashboard"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-none"
        >
          <i
            class="pi pi-objects-column transition-none"
            [ngClass]="{
              'text-blue-500': isActive('/dashboard'),
              'text-gray-400': !isActive('/dashboard')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/dashboard'),
              'text-gray-400': !isActive('/dashboard')
            }"
            class="transition-none"
          >
            Dashboard
          </p>
        </a>
      </div>
      <div *ngIf="role === 'admin'">
        <a
          routerLink="/admin-dashboard"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-none"
        >
          <i
            class="pi pi-objects-column transition-none"
            [ngClass]="{
              'text-blue-500': isActive('/admin-dashboard'),
              'text-gray-400': !isActive('/admin-dashboard')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/admin-dashboard'),
              'text-gray-400': !isActive('/admin-dashboard')
            }"
            class="transition-none"
          >
            Dashboard
          </p>
        </a>
      </div>
      <div *ngIf="role === 'admin'">
        <a
          routerLink="/events"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-none"
        >
          <i
            class="pi pi-calendar transition-none"
            [ngClass]="{
              'text-blue-500': isActive('/events'),
              'text-gray-400': !isActive('/events')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/events'),
              'text-gray-400': !isActive('/events')
            }"
            class="transition-none"
          >
            Events
          </p>
        </a>
      </div>
      <div *ngIf="role === 'vendor'">
        <a
          routerLink="/sell-tickets"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-none"
        >
          <i
            class="pi pi-ticket transition-none"
            [ngClass]="{
              'text-blue-500': isActive('/sell-tickets'),
              'text-gray-400': !isActive('/sell-tickets')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/sell-tickets'),
              'text-gray-400': !isActive('/sell-tickets')
            }"
            class="transition-none"
          >
            Sell Tickets
          </p>
        </a>
      </div>
      <div *ngIf="role === 'customer'">
        <a
          routerLink="/buy-tickets"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-none"
        >
          <i
            class="pi pi-ticket transition-none"
            [ngClass]="{
              'text-blue-500': isActive('/buy-tickets'),
              'text-gray-400': !isActive('/buy-tickets')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/buy-tickets'),
              'text-gray-400': !isActive('/buy-tickets')
            }"
            class="transition-none"
          >
            Buy Tickets
          </p>
        </a>
      </div>
      <div>
        <a
          routerLink="/transactions"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-none"
        >
          <i
            class="pi pi-money-bill transition-none"
            [ngClass]="{
              'text-blue-500': isActive('/transactions'),
              'text-gray-400': !isActive('/transactions')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/transactions'),
              'text-gray-400': !isActive('/transactions')
            }"
            class="transition-none"
          >
            Transactions
          </p>
        </a>
      </div>
      <div *ngIf="role === 'admin'">
        <a
          routerLink="/configure"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-none"
        >
          <i
            class="pi pi-sliders-h transition-none"
            [ngClass]="{
              'text-blue-500': isActive('/configure'),
              'text-gray-400': !isActive('/configure')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/configure'),
              'text-gray-400': !isActive('/configure')
            }"
            class="transition-none"
          >
            Configure
          </p>
        </a>
      </div>
      <div *ngIf="role === 'admin'">
        <a
          routerLink="/manage-users"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-none"
        >
          <i
            class="pi pi-users transition-none"
            [ngClass]="{
              'text-blue-500': isActive('/manage-users'),
              'text-gray-400': !isActive('/manage-users')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/manage-users'),
              'text-gray-400': !isActive('/manage-users')
            }"
            class="transition-none"
          >
            Manage Users
          </p>
        </a>
      </div>
      <div *ngIf="role === 'customer'">
        <a
          routerLink="/profile"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-none"
        >
          <i
            class="pi pi-user transition-none"
            [ngClass]="{
              'text-blue-500': isActive('/profile'),
              'text-gray-400': !isActive('/profile')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/profile'),
              'text-gray-400': !isActive('/profile')
            }"
            class="transition-none"
          >
            Profile
          </p>
        </a>
      </div>
    </div>
    <button
      pButton
      class="transition-none"
      icon="pi pi-sign-out"
      label="Log Out"
      (click)="logout()"
    ></button>
  </div>
</div>
