<div class="flex w-full"></div>


<!-- <div class="flex justify-start">
  <p-sidebar #sidebarRef [(visible)]="sidemenuVisible" styleClass="rounded-xl m-2 h-[calc(100%-16px)] p-2">
    <ng-template pTemplate="headless">
      <div>
        <h3>Sidebar</h3>
        <p-button (onClick)="closeCallback($event)" icon="pi pi-times" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </ng-template>
  </p-sidebar>
  <p-button (onClick)="sidemenuVisible = true" icon="pi pi-bars" ></p-button>
</div> -->
