<div
  class="h-screen w-[250px] border-r-2 border-solid border-l-0 border-t-0 border-b-0 border-gray-200 flex flex-col"
>
  <div
    class="flex items-center gap-4 h-[70px] border-b-2 border-solid border-gray-200 border-x-0 border-t-0 p-5"
  >
    <img src="logo.png" alt="" class="w-12 h-auto object-contain" />
    <p class="text-2xl font-semibold text-blue-600">Tickets</p>
  </div>
  <div class="flex flex-col justify-between flex-1 p-5">
    <div class="flex flex-col font-medium">
      <div>
        <a
          routerLink="/dashboard"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-all"
        >
          <i
            class="pi pi-objects-column transition-all"
            [ngClass]="{
              'text-blue-500': isActive('/dashboard'),
              'text-gray-500': !isActive('/dashboard')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/dashboard'),
              'text-gray-500': !isActive('/dashboard')
            }"
            class="transition-all"
          >
            Dashboard
          </p>
        </a>
      </div>
      <div>
        <a
          routerLink="/events"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-all"
        >
          <i
            class="pi pi-calendar transition-all"
            [ngClass]="{
              'text-blue-500': isActive('/events'),
              'text-gray-500': !isActive('/events')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/events'),
              'text-gray-500': !isActive('/events')
            }"
            class="transition-all"
          >
            Events
          </p>
        </a>
      </div>
      <div>
        <a
          routerLink="/transactions"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-all"
        >
          <i
            class="pi pi-money-bill transition-all"
            [ngClass]="{
              'text-blue-500': isActive('/transactions'),
              'text-gray-500': !isActive('/transactions')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/transactions'),
              'text-gray-500': !isActive('/transactions')
            }"
            class="transition-all"
          >
            Transactions
          </p>
        </a>
      </div>
      <div>
        <a
          routerLink="/profile"
          routerLinkActive="text-blue-500"
          class="flex items-center gap-4 no-underline p-3 rounded-lg hover:bg-gray-100 transition-all"
        >
          <i
            class="pi pi-user transition-all"
            [ngClass]="{
              'text-blue-500': isActive('/profile'),
              'text-gray-500': !isActive('/profile')
            }"
          ></i>
          <p
            [ngClass]="{
              'text-black': isActive('/profile'),
              'text-gray-500': !isActive('/profile')
            }"
            class="transition-all"
          >
            Profile
          </p>
        </a>
      </div>
    </div>
    <button
      pButton
      class="transition-none"
      icon="pi pi-sign-out"
      label="Log Out"
      (click)="logout()"
    ></button>
  </div>
</div>
