<app-home-template>
  <div
    class="flex flex-col gap-5 p-5 bg-white rounded-lg shadow-md min-w-min items-center justify-center"
  >
    <div
      *ngIf="
        vendorTransactions().length > 0 ||
        customerTransactions().length > 0 ||
        allTransactions().length > 0
      "
      class="min-w-[1000px]"
    >
      <div
        class="grid-container-transactions bg-gray-50 border border-gray-300 border-solid rounded-t-lg"
        [ngClass]="{ 'grid-container-transactions-admin': userRole === 'admin' }"
      >
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          Transaction Type
        </div>
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          Transaction Date
        </div>
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          Event Name
        </div>
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          {{ userRole === "vendor" ? "Customer Name" : "Vendor Name" }}
        </div>
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
          *ngIf="userRole === 'admin'"
        >
          Customer Name
        </div>
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          Number of Tickets
        </div>
        <div
          class="text-left text-xs font-medium text-gray-500 uppercase p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          Price Per Ticket
        </div>
        <div class="text-left text-xs font-medium text-gray-500 uppercase p-3">
          Total Transaction Amount
        </div>
      </div>
      <div
        *ngFor="
          let transaction of sortByDate(
            userRole === 'vendor'
              ? vendorTransactions()
              : userRole === 'customer'
              ? customerTransactions()
              : allTransactions()
          )
        "
        class="grid-container-transactions bg-white border-b border-solid border-t-0 border-x border-gray-300"
        [ngClass]="{ 'grid-container-transactions-admin': userRole === 'admin' }"
      >
        <div
          class="overflow-hidden text-sm text-gray-500 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          <div
            [ngClass]="{
              'bg-blue-100 text-blue-700':
                transaction.transactionType === 'RELEASE',
              'bg-green-100 text-green-700':
                transaction.transactionType === 'PURCHASE'
            }"
            class="p-1 px-2 flex items-center justify-center font-medium rounded-lg"
          >
            <p class="text-ellipsis line-clamp-1 overflow-hidden">
              {{ transaction.transactionType }}
            </p>
          </div>
        </div>
        <div
          class="overflow-hidden text-sm font-medium text-gray-900 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{ transaction.timeStamp | date : "medium" }}
          </p>
        </div>
        <div
          class="overflow-hidden text-sm text-gray-500 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{ getEventName(transaction.eventId) }}
          </p>
        </div>
        <div
          class="overflow-hidden text-sm text-gray-500 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{
              userRole === "vendor"
                ? transaction.customerId
                  ? getCustomerName(transaction.customerId)
                  : "-"
                : transaction.vendorId
                ? getVendorName(transaction.vendorId)
                : "-"
            }}
          </p>
        </div>
        <div
          class="overflow-hidden text-sm text-gray-500 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
          *ngIf="userRole === 'admin'"
        >
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{ transaction.customerId ? getCustomerName(transaction.customerId) : "-" }}
          </p>
        </div>
        <div
          class="overflow-hidden text-sm text-gray-500 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{ transaction.quantity }}
          </p>
        </div>
        <div
          class="overflow-hidden text-sm text-gray-500 p-3 border-r border-solid border-y-0 border-l-0 border-gray-300"
        >
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{ "Rs. " + transaction.pricePerTicket.toFixed(2) }}
          </p>
        </div>
        <div class="overflow-hidden text-sm font-medium text-gray-900 p-3">
          <p class="text-ellipsis line-clamp-1 overflow-hidden">
            {{
              transaction.totalAmount && transaction.totalAmount > 0
                ? "Rs. " + transaction.totalAmount.toFixed(2)
                : "-"
            }}
          </p>
        </div>
      </div>
    </div>
    <div
      *ngIf="
        vendorTransactions().length === 0 && customerTransactions().length === 0 && allTransactions().length === 0
      "
      class="w-[1000px] flex flex-col items-center justify-center p-5 py-10"
    >
      <img
        src="empty-transactions.png"
        alt="No transactions found"
        class="w-[200px] h-auto object-contain mb-4"
      />
      <p class="font-semibold text-gray-500">No transactions found</p>
    </div>
  </div>
</app-home-template>
